Flask==3.0.3
Werkzeug==3.0.3
skyfield==1.49
APScheduler==3.10.4
phue==1.1
requests==2.32.3
python-dotenv==1.0.1
gunicorn==22.0.0
backports.zoneinfo;python_version<'3.9'
tzdata;sys_platform=='win32' or python_version<'3.9'
